body{
	margin: 0px;
}

/* PAGE 1 */
.navbar{
    background-image: url(./Rey_assets/main-bg.jpg);
	background-color: #cccccc;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.bg{
    width: 100%;
    height: 50px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-top: -37%;
}
.container-fluid{
    margin-top: -37%;
  
}
.text-link{
    color: white;

}

.center-text {
	position: absolute;
	left: 50%;
	top: 40%;	
	transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

.center-text2 {
	position: absolute;
	left: 50%;
	top: 51%;
	color: white;
    text-align: center;
	transform: translate(-50%, -50%);
}

.down-text{
    position: absolute;
    left: 48.5%;
    top: 90%;
    color: white;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
}


.col-lg-1{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

/* PAGE 2 */
.page2{
    background-image: url('./Rey_assets/the-games-bg.jpg');
    height: 180vh;
    background-position: center;
	background-repeat: no-repeat;

}

.what-so-special{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

.judul{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

#carousel-game {
    width: 70%;
}
#carousel-game {
    height: 200px;
    width: 500px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

/* PAGE 3  */
.page3{
    background-image: url('./Rey_assets/features.jpg');
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.traditional{
    color: #FFB548;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

}

.lingkaran{
    color: white;
}

.lingkaran2{
    color: #FFB548;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}
/* PAGE 4 */
.page4{
    height: 200vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-image:url(./Rey_assets/requirements.png);

}

.text-table{
    font-size: 40px;
    color: white;
}

.table-text-header{
    left: 9.67;
    right: 72.19%;
    top: 42.02%;
    bottom: 55.1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.table-text-inside{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: white;
    margin: 0px;
    padding: 0px;
}

.system-requirements{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: white;
    font-weight: normal;
}

/* PAGE 5 */
.page5{
    background-image: url('./Rey_assets/top-score-bg.png');
    background-color: black;
    /* height: 960.16px;
    width: 1441.58px;
    left: -1,58px;
    top: -0,43px; */
    background-position: center;
    /* background-color: rgba(0, 0,0, 0.7) ; */
	background-repeat: no-repeat;
}
.work-place{
    position: absolute; 
    left: 65px; 
    top:30px; 
    font-size: 11px; 
    line-height: 25px; 
    color: white;
}

.quote{
    font-size: 11px;
    line-height: 25px;
    color: white;
}

.date{
    font-size: 8px; 
    line-height: 19px; 
    color: gray;
}

.top-scores{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

.top-scores-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#card{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}
/* PAGE 6 */
.page6{
    background-color: black;
    background-position: center;
    height: 150vh;
	background-repeat: no-repeat;

}

.question-skull{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

.tag-skull{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    color: white;
}

.desc-skull{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#menu{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 01.em;
    color: white;

}

.copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.privacy-policy{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* text-align: right; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.email-bar{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.vignette {
        position: relative;
      }
      
      .vignette img {
        display: block;
      }
      
      .vignette:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 150px 100px rgba(0, 0, 0, 1) inset;
      }


/* #games {
    margin-top: -70px; */


/* #game-title {
    width: 30%;
}

#hero-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
} 

#hero-text2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
} */





















